{:source-paths ["src" "test/cljs"]
 :builds
 {:extension
  {:target :esm
   :output-dir "dist"
   :js-options {:js-provider :import}
   :modules
   {:adam
    {:entries [adam.extension]
     :exports {start adam.extension/start}}}}

  :test
  {:target :node-test
   :output-to "target/tests.cjs"
   :ns-regexp "(?<!live)-test$"
   :autorun true}

  :neo4j-test
  {:target :node-test
   :output-to "target/neo4j-tests.cjs"
   :ns-regexp "-live-test$"
   :autorun true}}}
